* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: white;
  position: fixed;
  z-index: 9;
  opacity: 1;
  transition: opacity 30s;
}

.faded {
  opacity: 0 !important;
}

#playButton {
  z-index: 10;
  display: none;
  background: red;
  font-size: 4em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  width: 85vw;
  margin: 0 auto;
  text-align: center;
}

#splash-title {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  /* color: white; */
  color: black;
}

#header-title {
  margin-top: 0.15em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
  /* color: white; */
  color: black;
}

.video {
  /* margin: 2px 15px; */
  margin: 0.5vh 0.5vw;
}

@-webkit-keyframes color-change {
  0% { color: rgb(45, 175, 230) }
  5% { color: rgb(255, 137, 161) }
  10% { color: rgb(245, 93, 32) }
  15% { color: rgb(45, 73, 230) }
  20% { color: rgb(235, 231, 18) }
  25% { color: rgb(238, 88, 77) }
  30% { color: rgb(137, 255, 217) }
  35% { color: rgb(255, 0, 255) }
  40% { color: rgb(45, 230, 153) }
  45% { color: rgb(150, 230, 45) }
  50% { color: rgb(62, 35, 255) }
  55% { color: rgb(58, 88, 163) }
  60% { color: rgba(13, 55, 73, 0.781) }
  65% { color: rgb(255, 35, 98) }
  70% { color: rgb(151, 28, 145) }
  75% { color: rgb(162, 58, 72) }
  80% { color: rgb(76, 30, 94) }
  85% { color: rgb(255, 128, 0) }
  90% { color: rgb(230, 45, 45) }
  95% { color: rgb(60, 255, 60) }
  100% { color: rgb(176, 255, 137) }
}
@-moz-keyframes color-change {
  0% { color: rgb(45, 175, 230) }
  5% { color: rgb(255, 137, 161) }
  10% { color: rgb(245, 93, 32) }
  15% { color: rgb(45, 73, 230) }
  20% { color: rgb(235, 231, 18) }
  25% { color: rgb(238, 88, 77) }
  30% { color: rgb(137, 255, 217) }
  35% { color: rgb(255, 0, 255) }
  40% { color: rgb(45, 230, 153) }
  45% { color: rgb(150, 230, 45) }
  50% { color: rgb(62, 35, 255) }
  55% { color: rgb(58, 88, 163) }
  60% { color: rgba(13, 55, 73, 0.781) }
  65% { color: rgb(255, 35, 98) }
  70% { color: rgb(151, 28, 145) }
  75% { color: rgb(162, 58, 72) }
  80% { color: rgb(76, 30, 94) }
  85% { color: rgb(255, 128, 0) }
  90% { color: rgb(230, 45, 45) }
  95% { color: rgb(60, 255, 60) }
  100% { color: rgb(176, 255, 137) }
}
@-ms-keyframes color-change {
  0% { color: rgb(45, 175, 230) }
  5% { color: rgb(255, 137, 161) }
  10% { color: rgb(245, 93, 32) }
  15% { color: rgb(45, 73, 230) }
  20% { color: rgb(235, 231, 18) }
  25% { color: rgb(238, 88, 77) }
  30% { color: rgb(137, 255, 217) }
  35% { color: rgb(255, 0, 255) }
  40% { color: rgb(45, 230, 153) }
  45% { color: rgb(150, 230, 45) }
  50% { color: rgb(62, 35, 255) }
  55% { color: rgb(58, 88, 163) }
  60% { color: rgba(13, 55, 73, 0.781) }
  65% { color: rgb(255, 35, 98) }
  70% { color: rgb(151, 28, 145) }
  75% { color: rgb(162, 58, 72) }
  80% { color: rgb(76, 30, 94) }
  85% { color: rgb(255, 128, 0) }
  90% { color: rgb(230, 45, 45) }
  95% { color: rgb(60, 255, 60) }
  100% { color: rgb(176, 255, 137) }
}
@-o-keyframes color-change {
  0% { color: rgb(45, 175, 230) }
  5% { color: rgb(255, 137, 161) }
  10% { color: rgb(245, 93, 32) }
  15% { color: rgb(45, 73, 230) }
  20% { color: rgb(235, 231, 18) }
  25% { color: rgb(238, 88, 77) }
  30% { color: rgb(137, 255, 217) }
  35% { color: rgb(255, 0, 255) }
  40% { color: rgb(45, 230, 153) }
  45% { color: rgb(150, 230, 45) }
  50% { color: rgb(62, 35, 255) }
  55% { color: rgb(58, 88, 163) }
  60% { color: rgba(13, 55, 73, 0.781) }
  65% { color: rgb(255, 35, 98) }
  70% { color: rgb(151, 28, 145) }
  75% { color: rgb(162, 58, 72) }
  80% { color: rgb(76, 30, 94) }
  85% { color: rgb(255, 128, 0) }
  90% { color: rgb(230, 45, 45) }
  95% { color: rgb(60, 255, 60) }
  100% { color: rgb(176, 255, 137) }
}
@keyframes color-change {
  0% { color: rgb(45, 175, 230) }
  5% { color: rgb(255, 137, 161) }
  10% { color: rgb(245, 93, 32) }
  15% { color: rgb(45, 73, 230) }
  20% { color: rgb(235, 231, 18) }
  25% { color: rgb(238, 88, 77) }
  30% { color: rgb(137, 255, 217) }
  35% { color: rgb(255, 0, 255) }
  40% { color: rgb(45, 230, 153) }
  45% { color: rgb(150, 230, 45) }
  50% { color: rgb(62, 35, 255) }
  55% { color: rgb(58, 88, 163) }
  60% { color: rgba(13, 55, 73, 0.781) }
  65% { color: rgb(255, 35, 98) }
  70% { color: rgb(151, 28, 145) }
  75% { color: rgb(162, 58, 72) }
  80% { color: rgb(76, 30, 94) }
  85% { color: rgb(255, 128, 0) }
  90% { color: rgb(230, 45, 45) }
  95% { color: rgb(60, 255, 60) }
  100% { color: rgb(176, 255, 137) }
}

@media screen and (max-device-width: 1000px) {
  #playButton {
    display: block;
  }
  #title {
    font-size: 1em;
  }
}
